<h2>Shortest mate sequence from starting position</h2>
<hr>

Using a very early version of this program, mainly the generator of the search tree of laska, we
could prove that the shortest possible laska games have 14 plys. Before 16 plys was said to be the shortest possible game.
<p>

We improved on a result of Bruce Willford from 1999 (cf. Book of Angerstein)
The games ending after 14 plies are the following:
<p>
<ol><li><pre>
   1. c3-d4 e5xc3
   2. d2xb4 f6-e5
   3. e1-d2 g7-f6
   4. c3-d4 a5xc3xe1
   5. g3-f4 e1xg3
   6. g1-f2 g3xe1 
   7. c1-d2 e1xc3
   game over
</pre></li><li><pre>
   1. c3-d4 e5xc3
   2. d2xb4 f6-e5
   3. e1-d2 e7-f6
   4. c3-d4 a5xc3xe1
   5. g3-f4 e1xg3
   6. g1-f2 g3xe1
   7. c1-d2 e1xc3 
   game over
</pre></li><li><pre>

   1. c3-b4 a5xc3
   2. d2xb4 b6-a5
   3. e1-d2 c7-b6
   4. c3-d4 a5xc3xe1
   5. g3-f4 e1xg3
   6. g1-f2 g3xe1
   7. c1-d2 e1xc3
   game over
</pre></li><li><pre>

   1. c3-b4 a5xc3
   2. d2xb4 b6-a5
   3. e1-d2 a7-b6
   4. c3-d4 a5xc3xe1
   5. g3-f4 e1xg3
   6. g1-f2 g3xe1
   7. c1-d2 e1xc3
   game over
</pre></li><li><pre>

   1. c3-b4 a5xc3
   2. d2xb4 b6-a5
   3. e1-d2 e5-d4
   4. c3xe5 a5xc3xe1
   5. c1-d2 f6xd4
   6. g3-f4 e1xg3
   7. g1-f2 g3xe1xc3
   game over
</pre></li><li><pre>
   
   1. c3-b4 a5xc3
   2. d2xb4 b6-a5
   3. e1-d2 e5-d4
   4. c3xe5 a5xc3xe1
   5. g3-f4 f6xd4
   6. c1-d2 e1xg3
   7. g1-f2 g3xe1xc3
   game over
</pre></li><li><pre>
   
   1. c3-b4 a5xc3
   2. d2xb4 b6-a5
   3. e1-d2 e5-d4
   4. c3xe5 a5xc3xe1
   5. g3-f4 e1xg3
   6. g1-f2 f6xd4
   7. c1-d2 g3xe1xc3
   game over
</pre></li><li><pre>
   
   1. e3-f4 g5xe3
   2. d2xf4 f6-g5
   3. c1-d2 g7-f6
   4. e3-d4 g5xe3xc1
   5. a3-b4 c1xa3
   6. a1-b2 a3xc1
   7. e1-d2 c1xe3
   game over
</pre></li><li><pre>
   
   1. e3-f4 g5xe3
   2. d2xf4 f6-g5
   3. c1-d2 e7-f6
   4. e3-d4 g5xe3xc1
   5. a3-b4 c1xa3
   6. a1-b2 a3xc1
   7. e1-d2 c1xe3
   game over
</pre></li><li><pre>
   
   1. e3-f4 g5xe3
   2. d2xf4 f6-g5
   3. c1-d2 c5-d4
   4. e3xc5 g5xe3xc1
   5. e1-d2 b6xd4
   6. a3-b4 c1xa3
   7. a1-b2 a3xc1xe3
   game over
</pre></li><li><pre>
   
   1. e3-f4 g5xe3
   2. d2xf4 f6-g5
   3. c1-d2 c5-d4
   4. e3xc5 g5xe3xc1
   5. a3-b4 b6xd4
   6. e1-d2 c1xa3
   7. a1-b2 a3xc1xe3
   game over
</pre></li><li><pre>
   
   1. e3-f4 g5xe3
   2. d2xf4 f6-g5
   3. c1-d2 c5-d4
   4. e3xc5 g5xe3xc1
   5. a3-b4 c1xa3
   6. a1-b2 b6xd4
   7. e1-d2 a3xc1xe3
   game over
</pre></li><li><pre>
   
   1. e3-d4 c5xe3
   2. d2xf4 b6-c5
   3. c1-d2 c7-b6
   4. e3-d4 g5xe3xc1
   5. a3-b4 c1xa3
   6. a1-b2 a3xc1
   7. e1-d2 c1xe3
   game over
</pre></li><li><pre>
   
   1. e3-d4 c5xe3
   2. d2xf4 b6-c5
   3. c1-d2 a7-b6
   4. e3-d4 g5xe3xc1
   5. a3-b4 c1xa3
   6. a1-b2 a3xc1
   7. e1-d2 c1xe3
   game over
</pre></li></ol>
   
The latter seven games of course are symmetrical copies of the former.

<h3>One game (in ascii)</h3>

as an example a game of the above formatted in ascii:
<pre>

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|       |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
White to move.

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|o      |_______|       |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|       |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|       |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|ox     |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G

  1. e3-d4 c5xe3
        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|       |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|xo     |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|xo     |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G

  1. e3-d4 c5xe3
  2. d2xf4 b6-c5

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|xo     |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|       |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|xo     |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|       |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|o      |_______|xo     |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|       |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|       |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|o      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |o      |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|ooX    |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4 g5xe3xc1

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|       |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |       |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|ooX    |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4 g5xe3xc1
  5. a3-b4

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|       |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |oooX   |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |o      |_______|       |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4 g5xe3xc1
  5. a3-b4 c1xa3

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|       |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |oooX   |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |       |_______|       |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4 g5xe3xc1
  5. a3-b4 c1xa3
  6. a1-b2

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|       |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |       |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |       |_______|ooooX  |_______|o      |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4 g5xe3xc1
  5. a3-b4 c1xa3
  6. a1-b2 a3xc1

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|       |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |       |_______|o      |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|o      |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |       |_______|ooooX  |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4 g5xe3xc1
  5. a3-b4 c1xa3
  6. a1-b2 a3xc1
  7. e1-d2

        _______________________________________________________
       |       |_______|       |_______|       |_______|       |
  7    |       |_______|       |_______|       |_______|       |
       |       |_______|x      |_______|x      |_______|x      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  6    |_______|       |_______|       |_______|       |_______|
       |_______|x      |_______|x      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  5    |       |_______|       |_______|       |_______|       |
       |x      |_______|x      |_______|x      |_______|       |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  4    |_______|       |_______|       |_______|       |_______|
       |_______|o      |_______|o      |_______|x      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  3    |       |_______|       |_______|       |_______|       |
       |       |_______|o      |_______|oooooX |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|
       |_______|       |_______|       |_______|       |_______|
  2    |_______|       |_______|       |_______|       |_______|
       |_______|       |_______|       |_______|o      |_______|
       |_______|_______|_______|_______|_______|_______|_______|
       |       |_______|       |_______|       |_______|       |
  1    |       |_______|       |_______|       |_______|       |
       |       |_______|       |_______|       |_______|o      |
       |_______|_______|_______|_______|_______|_______|_______|

           A       B       C       D       E       F       G
  1. e3-d4 c5xe3
  2. d2xf4 b6-c5
  3. c1-d2 a7-b6
  4. e3-d4 g5xe3xc1
  5. a3-b4 c1xa3
  6. a1-b2 a3xc1
  7. e1-d2 c1xe3 mate
</pre>

